#directories
bower_components
node_modules
dist
build
out
.idea

#files
*.tgz
*.log
*.log*
*.apk
.idea/workspace.xml
*.xml
*.pyc
__pycache__/

# Hide OS X stuff
.DS_Store

# web demo build output
web-dist
