[Desktop Entry]
Type=Application
Name=Reboot Pi
Comment=Immediately reboot the Raspberry Pi (no confirmation)
Exec=/usr/bin/sudo /sbin/reboot
Icon=/usr/share/icons/Adwaita/symbolic/actions/system-reboot-symbolic.svg
Terminal=false
Categories=System;
